/*store_pc.css*/
@media screen and (min-width:769px) and (max-width:1024px) {

form {margin:auto; margin-top: 1.5rem; margin-bottom: 2rem; padding: 0.5%; box-sizing: border-box; width: 100%;}
fieldset {width: 100%;}
#search_r_wrap {width: 35%; margin-right: 5%;}
.store_img > li:nth-child(4n) {margin-right: 0;}
.city {margin-right: 7%;}

.select_wrap {width: 25%;}
.store_img {padding: 0 5%; box-sizing: border-box;}
.store_img > li {margin-right: 6.5%;}

 }



@media screen and (min-width:1025px) and (max-width:1366px) { 

form {margin:auto; margin-top: 1.5rem; margin-bottom: 2rem;}
#search_r_wrap {width: 30%; margin-right: 5%;}
.select_wrap {width: 30%;}


.store_img > li:nth-child(4n) {margin-right: 0;}
.store_img {padding: 0 5%; box-sizing: border-box;}
.store_img > li {margin-right: 6.5%;}

}