/*store_mobile.css*/


/*mobile(max-width:280px)*/
@media screen and (max-width:280px) {


#search_store {margin: auto; width: 90%; height: auto; padding-top: 118px; padding-top: 7.375rem; margin-bottom: 2rem;}
.text_area {margin: auto; width: 300px; width: 62.5vw; height: 64px; height: 4rem; padding: 0 1rem;}
.text_area > p {width: 100%; margin: auto; /*line-height: 64px; line-height: 4rem;*/ text-indent: 1rem; font-size: 1rem;}
form {margin: 44px 10px 60px 10px; margin: 2.75rem 0.625rem 3.75rem 0.625rem;}
#search_r_wrap {width: 40%; height: 50px; height: 3.125rem; margin-right: 5%;}
#search_r {font-size: 1rem; text-indent: 0.5rem;}
#search_r_wrap > button {margin-top: 0.5rem; margin-right: 5px; margin-right: 1.041666vw;}
#search_r_wrap i { margin-top: 0.585651vw; }

.select_wrap {width: 25%; height: 50px; height: 3.125rem;}
.select {width: 100%; font-size: 1rem; background-size: 20px 17px; background-size: 1.25rem 1.0625rem; background-position: 90%; text-indent: 0.5rem;}
.city {margin-right: 5%;}
.store_img {padding: 0 2.5%; box-sizing: border-box;}
.store_img > li {width: 45%; height: 140px; height: 29.166666vw; margin-right: 9.5%;}
.store_img > li:nth-child(2n) {margin-right: 0;}



 }



/*mobile(min-width:281px) and (max-width: 480px)*/
@media screen and (min-width:281px) and (max-width: 480px) {

#search_store {margin: auto; width: 90%; height: auto; padding-top: 118px; padding-top: 7.375rem; margin-bottom: 2rem;}
.text_area {margin: auto; width: 100%; height: 64px; height: 4rem; padding: 0 2rem;}
.text_area > p {width: auto; margin: auto; line-height: 64px; line-height: 4rem; text-indent: 1rem; font-size: 1rem;}
form {margin: 44px 10px 60px 10px; margin: 2.75rem 0.625rem 3.75rem 0.625rem;}
#search_r_wrap {width: 40%; height: 50px; height: 3.125rem; height: 10.416666vw;  margin-right: 5%;}
#search_r {font-size: 1rem; text-indent: 0.5rem;}
#search_r_wrap > button {margin-top: 0.2rem; margin-top: 0.6666666vw; margin-right: 5px; margin-right: 1.041666vw;}
#search_r_wrap i {margin-top: 0.3rem;}
.select_wrap {width: 25%; height: 50px; height: 3.125rem; height: 10.416666vw;}
.select {width: 100%; font-size: 1rem; background-size: 20px 17px; background-size: 1.25rem 1.0625rem; background-position: 90%; text-indent: 0.5rem;}
.city {margin-right: 5%;}
.store_img {padding: 0 2.5%; box-sizing: border-box;}
.store_img > li {width: 45%; height: 140px; height: 29.166666vw; margin-right: 9.5%;}
.store_img > li:nth-child(2n) {margin-right: 0;}



 }
